@charset "UTF-8";
@font-face {
    font-family:'android';
    src: url(fonts/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@200&display=swap');

/*
:root{
    --cor0: #ffff
}
*/



body {
    background-color:#F2E3D5 ;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: auto;
    overflow-x: hidden;
}

h2, h3{
    font-family:'android', "Helvetica Neue", "Helvetica";
}

header {
    background: linear-gradient(#024959 ,#012E40 70%);
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.678);
}

header > nav {
    width: 100%;
}

header > p {
    text-align: center;
}

main {
    background-color: whitesmoke;
    margin-left: 13%;
    margin-right: 13%;
    position: relative;
    bottom: 15px;
    text-align: center;
    border-radius:15px;
}

main > h2 {
    border-radius:10px 10px 0px 0px;
}

.main-menu {
    text-align: justify;
    margin-left: 16px;
    width: 100%;
}

.main-menu > a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.main-menu > a:hover{
    background-color: #02687387;
    border-radius: 8px;
}

h2,h3{
    text-align: justify;
    background:linear-gradient(90deg,#3ca6a657 10%, whitesmoke 90%);
    padding: 2px;
}

p {
    text-align: justify;
    margin: 9px;
    text-indent: 15px;
}

p > a {
    background-color: #3ca6a627;
    text-decoration: none;
    color: black;
    padding: 1px 3px;
    border-radius: 5px;

}

p > a:hover {
    text-decoration: underline;
}

p > a::after {
    content: '\1F517';
}

img {
    width: 100%;
}

.bug-droid{
    max-width: 300px;
}



.android-video{
    padding: 50px;
    background-color:#026773 ;
}

footer {
    background-color: whitesmoke;
    margin-left: 13%;
    margin-right: 13%;
    position: relative;
    text-align: center;
    bottom: 30px;;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

.square-inside-footer{
    background-color: #3ca6a662;
    border-radius: 15px;
    text-align: center;
}



.square-inside-footer > h4{
    background-color:#3CA6A6;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    text-align: justify;
    margin: 0px;
}

.square-inside-footer > p {
    margin: 0px;
    padding: 10px;
}

.square-inside-footer > ul {
    text-decoration: none;
    list-style-type: '\2714\00A0';
    text-align: justify;
    columns: 2;
    padding: 10px 50px;
    margin: 5px;
}


.criation{
    background-color:#012E40;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.criation > strong > a{
    text-decoration: none;
    color: whitesmoke;
}

